<div class="requestor chat-card {{#if hidden}} popout-only {{/if}}">
  <header class="card-header flexrow">
    {{#if img}}<img src="{{img}}">{{/if}}
    <h3 class="title">{{title}}</h3>
  </header>
  {{#if description}}<div class="card-content">{{{description}}}</div>{{/if}}
  {{#if buttons.length}}
  <div class="buttons">
    {{#each buttons}}
    <button class="{{cls}}" data-action="requestor" data-function-id="{{id}}">
      {{label}}
    </button>
    {{/each}}
  </div>
  {{/if}}
</div>
